.card {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    padding: 100px 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

    p {
      text-align: center;
      font-size: 30px;
      letter-spacing: 2px;
      text-transform: none;
      color: #606060;
    }
  }