.container {
  display: grid;
  grid-template: minmax(50px, 80px) 1fr minmax(200px, 300px) / 1fr;
  min-height: 100vh;
  padding: 0px 50px;

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;

    h1 {
      font-size: 44px;
      font-weight: 500;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
