.direction {
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    width: 100%;

    &.active{
        background: #ffffff;
        border: 1px solid rgb(0, 0, 0);

        .title {
            color: #000;
        }
    }

    .title {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        color: #fff;
    }
}