@font-face {
  font-family: "TT Runs Trial";
  src: url("/fonts/TT-Runs/TT Runs Trial Variable Roman.ttf") format("truetype");
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Echoes";
  src: url("/fonts/echoes/EchoesSans.otf") format("truetype");
}
:root {
  --font-family-regular: "TT Runs Trial", "Unbounded", "Helvetica", "sans-serif", "CodecCold", "Echoes", "Inter";
  --font-size-xs: 12px;
  --font-line-xs: 16px;
  --font-size-ls: 14px;
  --font-size-s: 16px;
  --font-line-s: 20px;
  --font-size-m: 20px;
  --font-line-m: 24px;
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
}/*# sourceMappingURL=fonts.css.map */