@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "TT Runs Trial";
  src: url("/fonts/TT-Runs/TT Runs Trial Variable Roman.ttf") format("truetype");
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "CodecCold";
  src: url("/fonts/codec/CodecCold-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Echoes";
  src: url("/fonts/echoes/EchoesSans.otf") format("truetype");
}
:root {
  --font-family-regular: "TT Runs Trial", "Unbounded", "Helvetica", "sans-serif", "CodecCold", "Echoes", "Inter";
  --font-size-xs: 12px;
  --font-line-xs: 16px;
  --font-size-ls: 14px;
  --font-size-s: 16px;
  --font-line-s: 20px;
  --font-size-m: 20px;
  --font-line-m: 24px;
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--font-family-regular);
}

:root {
  color: #fff;
  background: #2d2d2d;
}
:root ul,
:root ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
:root li,
:root h1,
:root p,
:root h2,
:root h3 {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url("/main_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  height: 100%;
}

.strapi_styles {
  text-transform: uppercase;
  line-height: 1.6;
  font-weight: 300;
}
.strapi_styles a {
  text-decoration: none;
  color: rgb(101, 168, 255);
  white-space: nowrap;
  font-weight: 500;
  transition: all ease 0.5s;
  white-space: normal;
}
.strapi_styles a:hover, .strapi_styles a:active {
  text-decoration: underline;
  color: rgb(49, 130, 237);
}
.strapi_styles b {
  font-weight: 700;
}
@media (max-width: 576px) {
  .strapi_styles b {
    font-weight: 500;
  }
}
.strapi_styles blockquote {
  border-left: 1.5px solid rgba(255, 255, 255, 0.7);
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.7);
  /* Шрифт */
  font-style: italic;
  text-transform: none;
}
.strapi_styles ul,
.strapi_styles ol {
  list-style: initial;
  padding-left: 20px;
}
.strapi_styles ul {
  list-style-type: disc;
}
.strapi_styles ol {
  list-style-type: decimal;
}
.strapi_styles li {
  margin-bottom: 10px;
}
.strapi_styles li:last-child {
  margin-bottom: 0px;
}
.strapi_styles figure img {
  border-radius: 35px;
  height: auto;
  overflow: hidden;
  box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.4);
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 576px) {
  .strapi_styles figure img {
    border-radius: 16px;
  }
}
.strapi_styles figure figcaption {
  font-style: italic;
  font-size: 12px;
  text-align: end;
  margin-top: 10px;
}
.strapi_styles h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: #f6ff5f;
  margin-bottom: 20px;
  line-height: 1.4;
}
@media (max-width: 576px) {
  .strapi_styles h2 {
    font-size: 18px;
    font-weight: 500;
  }
}
@media (max-width: 450px) {
  .strapi_styles h2 {
    font-size: 16px;
  }
}
.strapi_styles h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}
@media (max-width: 576px) {
  .strapi_styles h3 {
    font-size: 16px;
    color: #f6ff5f;
  }
}
@media (max-width: 450px) {
  .strapi_styles h3 {
    font-size: 16px;
  }
}
.strapi_styles h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 576px) {
  .strapi_styles h4 {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .strapi_styles h4 {
    font-size: 14px;
  }
}
.strapi_styles hr {
  visibility: hidden;
  padding: 4px;
}

.main_font {
  --font-family-regular: "TT Runs Trial";
}

.strapi_fonts_codec {
  text-transform: none;
  font-size: 16px;
  --font-family-regular: "CodecCold";
}
@media (max-width: 450px) {
  .strapi_fonts_codec {
    font-size: 14px;
  }
}

.strapi_fonts_echoes {
  text-transform: none;
  font-size: 16px;
}
@media (max-width: 450px) {
  .strapi_fonts_echoes {
    font-size: 14px;
  }
}

.strapi_fonts_inter {
  text-transform: none;
  font-size: 16px;
  --font-family-regular: "Inter";
}
@media (max-width: 450px) {
  .strapi_fonts_inter {
    font-size: 14px;
  }
}

.strapi_custom_btn {
  display: flex;
  align-items: center;
}
.strapi_custom_btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
@media (max-width: 576px) {
  .strapi_custom_btn a {
    font-weight: 500;
  }
}
.strapi_custom_btn a:hover, .strapi_custom_btn a:active {
  text-decoration: none;
  color: #fff;
}
.strapi_custom_btn button {
  min-width: 20vw;
  width: auto;
  padding: 24px;
  border-radius: 50px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 2px solid #bbb;
  background: #2d2d2d;
  white-space: normal;
  word-break: break-word;
}
@media (max-width: 576px) {
  .strapi_custom_btn button {
    font-size: 12px;
    padding: 14px;
    border-radius: 35px;
    min-width: 40vw;
  }
}
@media (max-width: 450px) {
  .strapi_custom_btn button {
    font-size: 10px;
    padding: 12px;
  }
}
.strapi_custom_btn--main_color button {
  background-color: #f6ff5f;
  color: #2d2d2d;
  border: 2px solid #f6ff5f;
}
.strapi_custom_btn--main_color button a {
  color: #2d2d2d;
}
.strapi_custom_btn--blue_color button {
  background-color: #3498db;
  color: #fff;
  border: 2px solid #3498db;
}
.strapi_custom_btn--grey_color button {
  background-color: #2d2d2d;
  color: #fff;
  border: 2px solid #bbb;
}

.strapi_custom_quote {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  border-radius: 50px;
  background: #bbb;
  padding: 40px 35px;
  text-transform: uppercase;
  color: #2d2d2d;
  font-weight: 600;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 576px) {
  .strapi_custom_quote {
    grid-auto-flow: initial;
    grid-template-columns: 66px 1fr;
    grid-template-rows: auto;
    padding: 24px 18px;
    border-radius: 35px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 15px;
  }
}
@media (max-width: 450px) {
  .strapi_custom_quote {
    padding: 20px 14px;
  }
}
.strapi_custom_quote p {
  line-height: 1.5;
  font-size: 14px;
}
@media (max-width: 576px) {
  .strapi_custom_quote p {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .strapi_custom_quote p {
    font-size: 10px;
  }
}
.strapi_custom_quote a {
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  font-weight: 600;
}
@media (max-width: 576px) {
  .strapi_custom_quote a {
    font-weight: 500;
    justify-self: end;
    grid-column: span 2;
    width: 100%;
  }
}
.strapi_custom_quote a:hover, .strapi_custom_quote a:active {
  text-decoration: none;
  color: #fff;
}
.strapi_custom_quote button {
  width: auto;
  min-width: 20vw;
  padding: 24px;
  border-radius: 50px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 2px solid #bbb;
  background: #2d2d2d;
  white-space: normal;
  word-break: break-word;
}
@media (max-width: 576px) {
  .strapi_custom_quote button {
    font-size: 12px;
    padding: 14px;
    width: 100%;
    border-radius: 35px;
  }
}
@media (max-width: 450px) {
  .strapi_custom_quote button {
    font-size: 10px;
    padding: 12px;
  }
}
.strapi_custom_quote--main_color button {
  background-color: #f6ff5f;
  color: #2d2d2d;
  border: 2px solid #f6ff5f;
}
.strapi_custom_quote--main_color button a {
  color: #2d2d2d;
}
.strapi_custom_quote--blue_color button {
  background-color: #3498db;
  color: #fff;
  border: 2px solid #3498db;
}
.strapi_custom_quote--grey_color button {
  background-color: #2d2d2d;
  color: #fff;
  border: 2px solid #bbb;
}

.blog-custom-accordion-answer {
  text-transform: none !important;
}/*# sourceMappingURL=globals.css.map */