.header {
  display: grid;
  grid-template: 1fr / minmax(80px, 100px) 1fr;
  align-items: center;
  gap: 20px;
  padding: 20px 50px;
  margin: 0px -50px;
  background: rgba(66, 69, 255, 0);
  box-shadow: none;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  color: #000;
  transition: all 0.2s ease-out;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.7);
}

.active {
  background: rgba(0, 0, 0, 1);
  color: #ffffff;
  transition: all 0.5s ease-out;
}
