.tabs {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 30px;
    margin-bottom: 20px;

    .tab {
        padding-bottom: 10px;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        color: #bbb;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid #f6ff5f;
            color: #fff;
            transition: all 0.15s ease;
        }
    }
    .tab.active {
        color: #fff;
        border-bottom: 2px solid #f6ff5f;
    }
}